.job-image {
  width: 10rem;
}
.job-card--title {
  font-weight: 700;
}
.job-card.list-group-item {
  border: 2px solid #ededf0;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 2rem 2rem 1.5rem 2rem;
  color: #000;
}
.job-card.list-group-item:hover {
  text-decoration: none;
}

.job-card--header .drop-down-icon {
  float: right;
}

.job-card--header .company {
  border-radius: 7px;
  padding: 0.5rem 0.75rem;

  font-size: 1.25rem;
  float: left;
  background-color: #f68634;
  color: #fff;
}
