@media (max-width: 915px){
    th:first-child{
      display: none;
    }
}
  @media (max-width: 720px){
    table, thead, tbody, th, td, tr {
      display: inline-block;
    }
    thead, thead tr{
      width:100%;
    }
    tr{
      display:flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    tr th,tr td{
      flex-grow: 1;
      flex-basis:33%;
      text-align: center;
    }
    thead tr th:last-of-type{
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr td:last-of-type{
      width:100%;
    } 
}
@media (max-width: 550px){
    thead tr th{
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr th,tr td{
      flex-basis:100%;
    }
}